<div class="container">

  <h3>Pallet Order</h3>
  <hr>
 <form #orderForm="ngForm" novalidate (submit)="submitOrder()" id="orderForm">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label class="control-label">Company Name
            <input type="text" class="form-control" name='companyName' #companyName="ngModel" id="companyName" required minlength="3" maxlength="40"
              [(ngModel)]="order.companyName" />
          </label>
       </div>
        <div class="col-md-4 col-sm-12">
          <label class="control-label"> Quantatity
            <input type="number" class="form-control" name='quantatiy' #quantatiy="ngModel" id="quantatiy" required  [(ngModel)]="order.quantatiy" />
          </label>
        </div>
        <div class="col-md-4 col-sm-12">
            <label class="control-label">leasing Period
              <input type="number" class="form-control" name='leasingPeriod' id="leasingPeriod" #leasingPeriod="ngModel" required  [(ngModel)]="order.leasingPeriod" />
            </label>
          </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <p></p>
          <button type="submit" id="submit" class="btn btn-success" aria-hidden="true">
            <i class="fa fa-check-circle-o"></i> submit Order
          </button>
        </div>
      </div>
    </div>
  </form>
 
</div>
