<div class="container">
  <div>
    <br>
    <form #gcForm="ngForm" novalidate (submit)="submitValue($event)" id="gcForm">
    <div class="form-group">
    <input class="form-control mr-sm-2" style="margin:0.5cm;" type="text" placeholder="Pallet Serial No." name='selectedPalletId' id="selectedPalletId" [(ngModel)]="selectedPalletId">
    <button class="btn btn-outline-success my-2 my-sm-0 inner" style= "margin:1cm;" type="submit"> <i class="fa fa-check-circle-o"> Search </i> </button>
    <div class="text-left" style="margin:1cm">The Pallet is :{{results}}</div>
  </div>
  </form>
  </div>
  <hr>
  <div class="card inner" style="width: 400px; padding:1cm">
   <div class="card-body inner" style="width: justify; padding:1cm">
      <h5 class="card-title inner">Available Pallet</h5>
      <h6 class="card-subtitle mb-2 text-muted inner"> in the inventory </h6>
      <p class="card-text inner"  >currently in our inventory we have <b>{{pallet_count}}</b>  available</p>
        </div>
  </div>
</div>